<!DOCTYPE html>
<html lang="{{ if .Site.Locale }}{{ .Site.Locale }}{{ else }}en{{ end }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .PageTitle }}</title>
    <meta name="keywords" content="{{ .Keywords }}"/>
    <meta name="description" content="{{ .Description }}"/>
    <link type="text/css" rel="stylesheet" href="/static/bootstrap-5.3.8/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/common.css" />
    <script src="/static/js/jquery-4.0.0.min.js"></script>
    <script src="/static/bootstrap-5.3.8/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/common.js"></script>
    {{ block "head" . }}
    {{ end }}
</head>
<body class="d-flex flex-column min-vh-100">
    {{ template "header" . }}
    <main class="flex-shrink-0 py-4">
        {{ block "content" . }}
        {{ end }}
    </main>
    {{ template "footer" . }}
</body>
</html>
