app:
  name: blog
  env: local
  debug: true
  version: 1.0
database:
  driver: mysql
  host: 127.0.0.1
  port: 3306
  database: goc
  username: root
  password: 123456
redis:
  addrs:
    - 127.0.0.1:6379
  password:
  db: 0
server:
  grpc:
    addr: 0.0.0.0:50051
    tls:
      certFile:
      keyFile:
      caFile:
grpcClient:
  endpoint: 127.0.0.1:50051
  tls:
    serverName: "*.goc.dev"
    certFile: ./configs/x509/client_cert.pem
    keyFile: ./configs/x509/client_key.pem
    caFile:
jwt:
  secret: 123456
  issuer: goc
  expiresIn: 7200
snowflake:
  node: 1
